<link rel="stylesheet" type="text/css" href="/assets/login_tpl/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/assets/login_tpl/css/iofrm-style.css">
<link rel="stylesheet" type="text/css" href="/assets/login_tpl/css/iofrm-theme1.css"> 



<div class="form-body">
        <div class="website-logo">
            <!--<a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="/assets/login_tpl/images/logo-light.svg" alt="">
                </div
            </a>>-->
        </div>
        <div class="row">
            
        <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
    
                </div>
            </div>
            
        <router-outlet></router-outlet>
       </div>
    </div>
    
 
