  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand">#</a>
            </div>
        
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">


                    <li class="nav-item">
                        <a class="nav-link" (click)="onExit()">
                                <i class="fas fa-sign-out-alt"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->
    <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">ADMIN</h2>
            <p class="category">Proyectos: 
                    Daniel Corrales  <a target="_blank" href="https://github.com/dmcorrales"> GitHub.</a>
            </p>
        </div>
    </div>