<div class="row">
<div class="col-md-8">
        <div class="jumbotron">
                <h2 class="h1 h1-responsive">Bienvenido, {{myData.firstname}} !</h2>
                <p class="lead">Este es el sistema  de tutorías para la Universidad El Bosque</p>
                <hr class="my-2">
                <p>En el menú superior encontrarás las distintas categorías.
                </p>
              </div>
              
    </div>

    <div class="col-md-4">
        <mdb-card>
            <mdb-card-header class="primary-color white-text">
              <h4>INSCRÍBETE</h4>
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-title>¿Quieres participar como tutor?</mdb-card-title>
              <mdb-card-text> Envíanos tu formulario para participar como tutor.</mdb-card-text>
              <a mdbBtn color="success" class="waves-light" routerLink="/user/requestLesson" mdbWavesEffect><i class="fas fa-exclamation-circle"></i> INSCRIBIRME</a>
             
            </mdb-card-body>
          </mdb-card>
    </div>

    </div>