$fa-font-path: "~font-awesome/fonts/";
$image-path: "~angular-bootstrap-md/img/" !default;
$roboto-font-path: "~angular-bootstrap-md/font/roboto/";
$materialize-font-path: "~material-design-icons/iconfont/material-icons.css";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../../node_modules/angular-bootstrap-md/scss/bootstrap/bootstrap.scss";
@import "../../../node_modules/angular-bootstrap-md/scss/mdb-free.scss";
